#projects {
	height: auto;
	min-height: 70rem;
	background-color: #f1f1f1;
	display: flex;
    flex-direction: column;
	gap: 5rem;
	align-items: center;
	padding:10rem 0rem 3rem 0rem;
}
.project-list {
    width: 100%;
	height: auto;
	background-color: #f1f1f1;
	display: flex;
	gap: 2rem;
	align-items: center;
	padding: 2rem;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.project {
	width: 38rem;
	height: 30rem;
	box-shadow: 7px 9px 19px -5px rgba(138, 124, 124, 0.84);
	border-radius: 1rem;
    background-color: white;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	transform: translatey(20%);
	transition: all 0.7s;
}

.project:hover{
	transform: scale(1.02);
}
.project-details{
	height: 20%;
	display: flex;
    align-items: flex-start;
    gap: 1rem;
	padding: 1.5rem;
	font-size: 1.8rem;
	font-weight: 600;
}
.project-nameDesc{
	display: flex;
	flex-direction: column;
}
.projectDesc{
	font-size: 1rem;
	font-weight: 200;
}
.project img {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	object-fit: cover;
}
.project a{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.project-read-more{
	margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.projects-header{
	align-self: flex-start;
	width: 35rem;
	min-width: 15rem;
	margin-right: 35rem;
    font-size: 3rem;
	font-weight: 600;
	background-color: var(--bg-contact-color10);
	border-radius: 0 1rem 1rem 0;
padding: 1rem 4rem;
	display: flex;
	justify-content: flex-end;
}

.visibleUp{
	transform: translate(0);
}



@media only screen and (max-width: 950px) {
    #projects{
        height: auto;
    }
	.projects-header{
		width: 28rem;
	}
}