#about {
	position: relative;
	width: 100%;
	background-color: #fafafa;
	padding: 8rem 0rem 4rem 0;
}
.about-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 80%;
	justify-content: center;
	align-content: center;
	gap: 2rem;
}
.about-header {
	align-self: flex-start;
	width: 100%;
	font-size: 3rem;
	font-weight: 600;
	padding: 1rem 4rem;
	display: flex;
	justify-content:center;
	z-index: 3;
}
.about-content {
	padding: 4rem 8rem 0 8rem;
	display: flex;
}
.about-header .about-header-title {
	font-size: 4rem;
}
.about-container .about-gtkm {
	padding: 2rem;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.navref {
	position: relative;
	top: 1vh;
}
.about-gtkm-title {
	font-size: 2.5rem;
	font-weight: 600;
}
.about-gtkm-content {
	font-size: 1.6rem;
	color: rgba(0, 0, 0, 0.76);
}

.about-gtkm-contact {
	font-size: 2rem;
	width: 13rem;
	background-color: var(--bg-button);
	padding: 0.8rem;
	font-weight: 600;
	border-radius: 0.4rem;
	text-align: center;
}

.about-container .about-skills {
	padding: 2rem;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.about-skills-title {
	font-size: 2.5rem;
	font-weight: 600;
}

.skill-set {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	gap: 1.5rem;
	z-index: 4;
}
.skill {
	position: relative;
	padding: 1rem;
	background-color: var(--bg-skill);
	font-size: 1.5rem;
	border-radius: 0.4rem;
}

.skillPercentage{
	position: absolute;
	width: 100%;
	height:100%;
	top: 0;
	left: 0;
	border-radius: 0.4rem;
	background-color: var(--bg-button-hover);
	display: flex;
	color: white;
	justify-content: center;
	opacity: 0;
	align-items: center;
	transition: all 0.3s;
}

.skillPercentage:hover{
    opacity: 1;
}

.about-illustration {
	position: absolute;
	height: fit-content;
	right: 0;
	bottom: -5rem;
	z-index: 2;
}
.about-illustration img {
	width: 40rem;
	height: 40rem;
	margin-right: 4rem;
}
.aboutIllVisible {
	transform: translate(0%,0%);
}

.darkText{
	color: var(--bg-heading-start);
}

.about-header .darkText:nth-child(2){
	margin-left: 1rem;
}

@media only screen and (max-width: 950px) {
	#about {
		padding: 10rem 0;
	}
	.about-container {
		grid-template-columns: 100%;
		grid-template-rows: 15rem auto auto;
		column-gap: 2rem;
		gap: 0;
	}
	.about-content {
		flex-direction: column;
		padding: 4rem 2rem;
	}
	.about-skills {
		margin-top: 5rem;
	}
	.about-header {
		width: 100%;
	}
	.about-illustration img{
		margin-right: 0.5rem;
	}
}
