#home{
	height: 100.5vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-container {
    width:100%;
	height: 100%;
    backdrop-filter: blur(0.2rem);
    background-image: url('../../images/background.jpg');
    // background-image: url('../../images/e71a7e8bb9bbfb7b9875acb9fc2ad864.png');
    background-color: #eae9ea;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // text-shadow: 0.2rem 0.15rem 0.1rem rgb(189, 167, 167);
}

.profile-info{
    width: 60%;
    height: 100%;
    font-size: 5rem;
    font-weight: 800;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.profile-info div:nth-child(2){
    font-size: 6rem;
    display: flex;
    gap: 2rem;
}
.profile-info div:nth-child(2) span:nth-child(1){
    color: var(--bg-color2);
}
.profile-info div:nth-child(3){
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
}
.project-button{
    font-size: 2rem;
    margin-top: 2rem;
    width: 10rem;
    background-color: rgb(187, 219, 238);
    padding: 0.5rem;
    border-radius: 0.4rem;
    text-align: center;
}

.visibletext{
    animation: faded 1s;
}
@keyframes faded{
    0%{
        opacity: 0;
        filter: blur(1);
        transform: translate(-30%);
    }
    100%{
        opacity: 1;
        filter: blur(0);
        transform: translate(0%);
    }
}
.visibleimg{
    animation: faded 1s ;
}
@keyframes faded{
    0%{
        opacity: 0;
        filter: blur(1);
        transform: translate(-30%);
    }
    100%{
        opacity: 1;
        filter: blur(0);
        transform: translate(0%);
    }
}
.hidden{
    opacity: 0;
}