#contact {
	width: 100%;
	height: 100vh;
	background-image: url("../../images/background.jpg");
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}
.contact-box {
	width: 80rem;
	height: 40rem;
	background: var(--bg-contact-color11);
	box-shadow: 12px 13px 18px -6px rgba(0, 0, 0, 0.33);
	border-radius: 1.2rem;
	display: flex;
	flex-direction: row;
	transform: translatey(20%);
	transition: all 0.7s;
}
.contact-me {
	width: 35%;
	height: 100%;
	background: var(--bg-contact-color10);
	border-radius: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 4.42rem 4.75rem;
	color: var(--text-color);
}

.contact-me span:nth-child(1) {
	position: relative;
	height: 3.67rem;
	font-size: 2.5rem;
}
.contact-me span:nth-child(2) {
	position: relative;
	height: auto;
	font-size: 1.33rem;
}
.contact-form {
	padding: 4rem;
	font-size: 1.5rem;
	width: 65%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: var(--text-color);
}
.contact-form div {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}
.contact-form div:last-child {
	flex-direction: row;
	justify-content: space-between;
}
.contact-form div textarea,
input[name='name'],input[name='email'] {
	height: 3.25rem;
	border-radius: 0.5rem;
	padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.34);
}
.contact-form div input[name='name'],input[name='email'] {
	background-color: var(--bg-color8);
	outline: none;
	border: none;
}
.contact-form div textarea {
	font-family: 'Roboto';
	height: 9rem;
	max-height: 9rem;
	outline: none;
	border: none;
	background-color: var(--bg-color8);
}
.contact-form div input:focus {
	border: none;
}
.contact-form .contact-button {
	width: 9rem;
	height: 3rem;
	border: none;
	background: #42c5abb8;
	box-shadow: 1px 1px 3px 0.2px rgba(0, 0, 0, 0.33);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	cursor: pointer;
	font-size: 1.2rem;
}
.contact-form .contact-button:hover{
    transform: scale(1.02);
}
.contact-links {
	position: relative;
	margin-top: 1rem;
	gap: 1rem;
	height: 5rem;
	display: flex;
	justify-content: flex-start;
	font-size: 2.8rem;
}
.button-area{
	margin-top: 2rem;
}


.visibleUp{
	transform: translate(0);
}
@media only screen and (max-width: 950px) {
	.contact-box {
		height: 60rem;
		flex-direction: column;
	}
	.contact-me {
		width: 93%;
		margin: 2rem auto;
		height: auto;
		padding: 2rem 3rem;
	}
	.contact-form {
		padding:1rem 3rem;
		font-size: 1.5rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		color: var(--text-color);
	}
	.contact-links {
		top: 0rem;
		margin-top: 0;
		height: auto;
	}
}
