.navbar {
	position: fixed;
	top: 0.5rem;
	left: 0rem;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	width: 100%;
	height: 4.5rem;
    color: black;
	z-index: 5;
	font-size: 1.5rem;
	padding-left: 5rem;
	background: #ffffff;
}
.navbar div{
	position: relative;
	cursor: context-menu;
}
.menu {
	height: auto;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 2rem;
	gap: 1.5rem;
}
.menu_item {
	text-decoration: none;
	list-style: none;
	font-style: normal;
	font-weight: 400;
    cursor: pointer;
    transition: all 0.2s;
}

.menu_item:hover{
    text-decoration: underline;
}

.bg-white{
	animation: navcolor 0.2s forwards;
	
}
@keyframes navcolor{
	0%{
		background-color: transparent;
		top: 0.5rem;
	}
	100%{
		background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
		top: 0;
	}
}

.bg-normal{
	animation: navcolorback 0.05s forwards;	
}

@keyframes navcolorback{
	0%{
		background-color: #ffffff;
		top: 0;
	}
	100%{
		background-color: transparent;	
		top: 0.5rem;
	}
}
.nav-item-active{
	color: rgb(225, 88, 88);
}

.linecontainer{
	position: absolute;
	top:400px;
	width: 100%;
	height: 1560px;
	display: none;
	place-content: center;
	z-index: 55;
	pointer-events: none;
}

.linecontainer svg{
	display: inline-block;
	height: 100%;
}

.logo{
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	overflow: hidden;
}
.logo img{
	width: 100%;
}

