@import url('https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&family=Poppins:wght@200&family=Roboto+Condensed&family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 12px;
    --text-color:#0b0f27;
    --bg-color1:#0b0f27;
    --bg-color2:#6a8c91;
    --bg-color3:#E83F6F;
    --bg-color4:#0F5257;
    --bg-color5:#F2EFC7;
    --bg-color6:#E71D36;
    --bg-color7:#1a7569;
	--bg-color8:#e4eced;
    --bg-contact-color9:#d5e5eb;
    --bg-contact-color10:#8bbfcd;
    --bg-contact-color11:#FAFAFA;
}
html{
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color1);
    font-family: 'Roboto Condensed', sans-serif;
    
}
a{
    list-style: none;
    text-decoration: none;
    color: unset;
}

@media only screen and (max-width: 950px) {
	:root{
		font-size: 10px;
	}
}