@import url('https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&family=Poppins:wght@200;300;400&family=Roboto+Condensed&family=Roboto:wght@500&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 12px;
    --text-color:#0b0f27;
    --bg-color1:#0b0f27;
    --bg-color2:#147290;
    --bg-color3:#E83F6F;
    --bg-color4:#0F5257;
    --bg-color5:#F2EFC7;
    --bg-color6:#E71D36;
    --bg-color7:#1a7569;
	--bg-color8:#e4eced;
    --bg-contact-color9:#d5e5eb;
    --bg-contact-color10:#8bbfcd;
    --bg-contact-color11:#FAFAFA;
    --bg-button:rgba(95, 189, 196, 0.822);
    --bg-skill:rgb(88, 211, 192);
    --bg-button-hover:rgb(5 57 103);
    --bg-heading-start:rgb(9 150 158);

}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background: var(--bg-color1);
    font-family: 'Roboto', sans-serif;
    color: #082533;
}
*{
    user-select: none;
}
a{
    list-style: none;
    text-decoration: none;
    color: unset;
}
a:visited{
    background-color: none;
}

.id-buttons{
    transition: all 0.3s;
}
.id-buttons:hover{
    filter: contrast(130%);
}

@media only screen and (max-width: 950px) {
	:root{
		font-size: 10px;
	}
}

